body {
	background-color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	
.title, .navbuttons {
	width: 900px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	}

.container, .maincontent {
	width: 900px;
	margin-left: auto;
	margin-right:auto;
}

th, td {
	text-align: center;
	padding: 5px;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-right: auto;
	margin-left: auto;
	margin-bottom:30px;
}

h1 {
	margin-top: 20px;
	margin-bottom: 30px;
}

h4 {
	text-align: center;
	margin-top:15px;
	margin-bottom: 15px;
}

p.italic {
    font-style: italic;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.reveal {
  margin-top: 30px;
  margin-bottom: 50px;
}

div.centeranswer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 450px;
} 


div.centercollect {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 350px;
} 

div.centertscollect {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 440px;
} 

* {
  margin: 0;
}
html, body {
  height: 100%;
}

.maincontent {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -139px; 
}
.maincontent:after {
  content: "";
  display: block;
}

.site-footer, .maincontent:after {
  /* .push must be the same height as footer */
  height: 139px; 
}

